# Streamlit et dépendances
streamlit==1.39.0

# Analyse de données
numpy==1.26.4
pandas==2.2.2

# Graphiques et visualisation
matplotlib==3.8.0
plotly==5.20.0
peakutils==1.3.5

# PDF et rapports
fpdf==1.7.2