# Streamlit web app framework
streamlit==1.39.0

# Data manipulation
pandas==2.2.3
numpy==2.1.3

# Plotting
plotly==5.24.1
matplotlib==3.7.2

# PDF generation
fpdf2==2.8.1

# Signal processing
scipy==1.10.1